@import "styles/variables.scss";
.navLink {
  text-decoration: none;
  color: $fontBlack;
  font-family: $fontRubik;
  font-weight: 500;
  padding: 1em 2.5em;
  text-align: center;
  &:hover {
    background: $backgroundBlue;
    color: $fontWhite;
  }
}

.active {
  background: $backgroundBlue;
  color: $fontWhite;
}
