.mainWrapper {
  display: flex;
  flex-direction: column;
  gap: 2em;
  .cheapStoreIntro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
    font-size: 1.3em;
  }
  .cheapStoreDetails {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    > div {
      width: 100%;
      min-width: 300px;
    }
    @media (max-width: 800px) {
      flex-direction: column;
    }
  }
}
